.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  padding: 8px 0;
  cursor: pointer;
}

.hero-banner {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero-banner img {
  /* object-fit: cover; */
}

.hero-banner h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 20px 0;
  line-height: 60px;
}

.btn hr {
    width:60%;
}

.span-round{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #cccc;
  border-radius: 50%;
  cursor: pointer;
}
.span-rounded{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ed1818cc;
  border-radius: 50%;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.point {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    bottom: 4%;
    max-width: 90%;

}

@media (max-width: 992px) {
  .hero-banner {
    flex-direction: column;
    text-align: center;
  }

  .hero-banner img {
    margin-top: 30px;
  }

  .hero-banner h1 {
    font-size: 36px;
  }
}
